html, body {
  height: 100%;
  margin: 0;
}

.review {
  margin: 10px;
}

.review > .mdl-card__title {
  height: 300px;
  background-position: center;
  background-size: cover;
}

.review__artist {
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
